{% extends "base.html" %}
{% block title %}Greyduck Girls{% endblock %}
{% block bodytitle %}
Account Settings
{% endblock %}
{% block body %}
        <h2>Username: <b>{{user["username"]}}</b><br>
            Email: <b>{{user["email"]}} </b><br>
</h2>
<h3>
        <form action="/accountsettings" method="post">
            Change password:<input type="password" name="password" required>
            <input type="submit">
        </form>
        <form action="/accountsettings" method="post">
            Change Email:<input type="textarea" name="email" required>
            <input type="submit">
        </form>
</h3>
{% endblock %}





