{% extends "base.html" %}
{% block title %}Edit Athletes{% endblock %}
{% block body %}
<h1> Add Athletes</h1>
<form action="/editathletes" method="post">
  Username:<input type="text" name="username" required></br>
  Password:<input type="password" name="password" required></br>
  Email:<input type="text" name="email" required></br>
  First name:<input type="text" name="first_name" required></br>
  Last name:<input type="text" name="last_name" required></br>
  Types:  <input type="checkbox" name="distance">Distance<br>
  <input type="checkbox" name="racewalker">Racewalker<br>
  <input type="checkbox" name="fieldeventer">Field Eventer<br>
  <input type="checkbox" name="sprinter">Sprinter<br>
  Admin:<input type="checkbox" name="admin"></br>
 <input type="submit">
</form>
{% endblock %}
